# Server
MONGODB_URI=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
APP_BASE_URL=http://localhost:3000

# AI
LLM_PROVIDER=openai
LLM_API_KEY=
LLM_MODEL_NAME=gpt-4o-mini
EMBEDDINGS_MODEL_NAME=text-embedding-3-small

# Notifications
PUSH_NOTIF_KEY=

